[Unit]
Description=feedback_browser
After=network.target 

[Service]
ExecStart=/home/pi/NCSYS004_CLIENT_WEB/browser.sh
Restart=always  
User=pi  

[Install]
WantedBy=multi-user.target