.header {
  background-color: var(--background-color);
}

.contents {
  padding: 1rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  user-select: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.genderDateContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: '100%';
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.genderDateLabel {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.genderOptions {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.genderOptions input[type='checkbox'] {
  display: none; /* Hide the default checkbox */
}

.genderOptions label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px; /* Space for custom checkbox */
  font-size: 1rem;
}

.genderOptions label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.3s, border-color 0.3s;
}

.genderOptions input[type='checkbox']:checked + label::before {
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.genderOptions input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
}

.genderOptions label span {
  margin-left: 10px;
}

.button {
  min-width: 180px;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--button-color);
  background: var(--button-color);
  color: var(--background-color);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.userdetailsheading {
  font-size: 2rem;
  text-align: start;
  /* color: var(--button-color); */
  color: rgb(175, 39, 39);
  font-family: cursive;
  font-weight: 500;
}

.userQuestionHeading {
  font-size: 1.3rem;
  text-align: start;
  /* color: var(--button-color); */
  color: rgb(175, 39, 39);
  font-family: cursive;
  font-weight: 500;
}

.registrationcompletetext {
  color: var(--button-color);
  font-size: 3rem;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.registrationmodal {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 3rem;
  text-transform: uppercase;
}

.selectionBox {
  width: 360px;
  height: 360px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 56, 68);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: transform 0.2s, background-color 0.2s;
  text-align: center;
}

.selectionBox:hover {
  background-color: rgb(175, 39, 39);
  transform: scale(1.05);
}

.iconWrapper {
  margin-bottom: 10px;
}

.selectionContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 20px;
}
